
.contenedorCentral{

    display: flex;/*Este es un flex padre por asi decirlo entonces tambien debe llevar el display:flex
        porque quiero hacer todos los elementos que estan contenidos aqui(en header) responsive*/
            
        /*flex-direction: column;/*este hace lo mismo que el de abajo(no se porque use el de abajo y no este)*/
        /*flex-wrap: nowrap;/*El nowrap(no me respeta los anchos de los elementos, los encoje todos para dejarlos en una misma fila)  ES PARA QUE SE ADAPTE SEGUN EL TAMANIO ESTABLECIDO*/
    flex-flow: column nowrap;/*ESte flex-flow abarca tanto "flex-drirection" como "flex-wrap" es como una fusion de los dos, por eso se uso este, pero puedo usar los otros dos en vez de este sin problema*/
    
    width: 1000px;
   margin: 0 5px;/**/
   
}

